[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aioschedule = "*"
requests = "*"
dynaconf = "*"
aiogram = "==3.23.0"
openai = "==2.14.0"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
