[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aioschedule = "*"
requests = "*"
dynaconf = "*"
black = "*"
aiogram = "==3.24.0"
openai = "==2.15.0"

[requires]
python_version = "3.13"
